{% load staticfiles sekizai_tags %}<!DOCTYPE html>
<html xml:lang="en" lang="en">
	<head>
		<title>{% block title %}{% trans "Home" %}{% endblock %} &mdash; FeedHQ</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="shortcut icon" href="{% static "core/img/icon-rss.png" %}">
		<link rel="stylesheet" type="text/css" href="{% static "core/css/screen.css" %}">
		{% if user.is_authenticated %}
		<link rel="stylesheet" type="text/css" href="{% static "core/css/fonts/"|add:user.font|add:".css" %}">
		{% else %}
		<link rel="stylesheet" type="text/css" href="{% static "core/css/fonts/pt-serif.css" %}">
		{% endif %}
		<link rel="apple-touch-icon-precomposed" href="{% static "core/img/touch-icon-57.png" %}">
		<link rel="apple-touch-icon-precomposed" href="{% static "core/img/touch-icon-72.png" %}" sizes="72x72">
		<link rel="apple-touch-icon-precomposed" href="{% static "core/img/touch-icon-114.png" %}" sizes="114x114">
		<link rel="apple-touch-icon-precomposed" href="{% static "core/img/touch-icon-144.png" %}" sizes="144x144">
		{% render_block "css" %}
	</head>
	<body id="{% block bodyid %}default{% endblock %}" data-view="{% block view %}list{% endblock %}">
		<div id="root">
			<div>
			<div id="header"{% block header_mode %}{% endblock %}>
				<div class="container">
				<div class="row">
					<h1>{% if user.is_authenticated and only_unread %}{% url "feeds:unread" as home_url %}
						{% else %}{% url "feeds:home" as home_url %}{% endif %}
						<a class="home" href="{{ home_url }}" data-all="{% url "feeds:home" %}" data-unread="{% url "feeds:unread" %}" data-mousetrap="g h">FeedHQ</a>
						{% if user.is_authenticated %}
							<a class="unread" title="{% trans "Unread entries" %}" href="{% url "feeds:unread" %}">{{ user.unread_count }}</a>
						{% endif %}
					</h1>
					{% block extra_header %}{% endblock %}
					<div id="navigation">
						<ul>{% spaceless %}
							{% include "navigation.html" %}
						</ul>{% endspaceless %}
					</div>
				</div>
				</div>
			</div>
			<div id="content">
				{% if messages %}
					<div id="messages">
						{% for m in messages %}
							<div class="{{ m.tags }}">{{ m|safe }}</div>
						{% endfor %}
					</div>
				{% endif %}
				{% block actions %}{% endblock %}
				{% block content %}{% endblock %}
			</div>

			<div id="keyboard" class="modal hide fade" data-url="{% url "feeds:keyboard" %}"></div>
			</div>
			<div id="root_footer"></div>
		</div>
		<div id="footer">
			<div class="container">
				<div>{% include "footer.html" %}</div>
			</div>
		</div>
<script type="text/javascript" src="{% static "core/js/bundle.min.js" %}"></script>
{% render_block "js" %}

	</body>
</html>
