{% extends "base.html" %}

{% block title %}{% if unread_count %}({{ unread_count }}) {% endif %}
	{% if feed %}{{ feed.name }}{% else %}
		{% if category %}{{ category.name }}{% else %}
			{{ block.super }}
{% endif %}{% endif %}{% endblock %}

{% block content %}
	{% if noob %}
		<div class="help"><div class="content">
			<h2>{% trans "Getting started" %}</h2>
			<p>{% trans "Hi! Looks like you're new here. Here are a couple of things you can do to get started with FeedHQ:" %}</p>
			<ul>
				<li><a href="{% url "feeds:add_category" %}">{% trans "Create a category" %}</a>.</li>
				<li><a href="{% url "feeds:add_feed" %}">{% trans "Add a feed" %}</a>.</li>
				<li><a href="{% url "feeds:import_feeds" %}">{% trans "Got an OPML dump? Import it!" %}</a> {% blocktrans %}If you're a Google Reader user, you can get your OPML dump <a href="http://www.google.com/reader/subscriptions/export">here</a>. Just download it and import it on FeedHQ.{% endblocktrans %}</li>
			</ul>
			<p>{% trans "These three features can be accessed using the menu on the top right. This page will self-destruct as soon as you add your first feed. Enjoy!" %}</p>
		</div></div>
	{% else %}
		<div class="figures{% if not category %} full{% endif %}">
			<div class="count">{% spaceless %}
				{% if category %}
					<a class="{{ category.color }}" href="{% if only_unread %}{% url "feeds:unread_category" category.slug %}{% else %}{% url "feeds:category" category.slug %}{% endif %}">{{ category }}</a>
					{% if feed %} / {% endif %}
				{% endif %}
				{% if feed %}
					<a class="{{ feed.category.color|default:feed.color }}" href="{% if only_unread %}{% url "feeds:unread_feed" feed.pk %}{% else %}{% url "feeds:feed" feed.pk %}{% endif %}">{{ feed }}</a>
				{% endif %}{% endspaceless %}
				<div class="navlist inline">{% spaceless %}
					{% if stars %}<i class="icon-star"></i>&nbsp;{% endif %}
					<a href="{{ all_url }}"{% if not only_unread %} class="current"{% endif %}>{% trans "all" %} <span class="ct">{{ total_count }}</span></a>
					{% if unread_url %}<a href="{{ unread_url }}"{% if only_unread %} class="current"{% endif %}>{% trans "unread" %} <span class="ct">{{ unread_count }}</span></a>{% endif %}
					{% if feed %}
					<a href="{% url "feeds:edit_feed" feed.pk %}" class="tultip" title="{% trans "Edit feed" %}">
						<i class="icon-edit"></i>
						<span class="legend">{% trans "Edit feed" %}</span>
					</a>
					{% endif %}
					{% if read_page_form %}
						<form data-mousetrap="shift+a" method="post" action="{{ action }}" class="read" id="read-page">
							{% include "form.html" with form=read_page_form %}
							<button class="tultip" title="{% trans "Mark page as read" %}">
								<i class="icon-ok-circle"></i>
								<span class="legend">{% trans "Mark page as read" %}</span>
							</button>
						</form>
					{% endif %}
					{% if read_all_form %}
						<form data-mousetrap="mod+shift+a" method="post" action="{{ action }}" class="read" id="read-all">
							{% include "form.html" with form=read_all_form %}
							<button class="tultip" title="{% trans "Mark all as read" %}">
								<i class="icon-ok-sign"></i>
								<span class="legend">{% trans "Mark all as read" %}</span>
							</button>
						</form>
					{% endif %}
				{% endspaceless %}</div>
			</div>
			{% if not user.endless_pages %}
				<div class="pagination">{% include "feeds/paginator.html" %}</div>
			{% endif %}
		</div>

		<ul id="entries">
			{% include entries_template %}
		</ul>

		{% if user.endless_pages %}
			{% if entries.paginator.num_pages > 1 and entries.has_next %}
				<a href="{{ base_url }}{{ entries.next_page_number }}/" title="{% trans "Load more" %}" data-loading="{% trans "Loading…" %}" class="feedhq-more" data-mousetrap="l">
					{% trans "Load more" %}
				</a>
			{% endif %}
		{% else %}
			<div class="figures bottom">
				<div class="pagination">{% include "feeds/paginator.html" %}</div>
			</div>
		{% endif %}
	{% endif %}
{% endblock %}
