{% extends "feeds/entries_list.html" %}
{% load staticfiles sekizai_tags %}

{% block title %}{{ object.sanitized_title|safe }}{% endblock %}

{% block view %}detail{% endblock %}

{% block content %}
	{% include "feeds/entry_navigation.html" %}
	<div id="entry" class="feedhq-media feedhq-highlight">
		<h2>{{ object.sanitized_title|safe }}
			<a href="{% if only_unread %}{% url "feeds:unread_feed" object.feed.pk %}{% else %}{% url "feeds:feed" object.feed.pk %}{% endif %}" class="cat {{ object.feed.category.color|default:object.feed.color }}">{{ object.feed.name }}</a>
			{% if object.feed.category %}<a href="{% if only_unread %}{% url "feeds:unread_category" object.feed.category.slug %}{% else %}{% url "feeds:category" object.feed.category.slug %}{% endif %}" class="cat opaque {{ object.feed.category.color }}">{{ object.feed.category.name }}</a>{% endif %}
		</h2>
		<div class="row">
			{% include "feeds/entry_links.html" %}
			<div class="actions navlist">
				{% if not object.read_later_url and user.read_later and user.read_later != "wallabag" %}
					<form method="post" action="{% url "feeds:item" object.pk %}" id="read-later" data-mousetrap="i">
						{% csrf_token %}
						<input type="hidden" name="action" value="read_later">
						<button class="tultip" type="submit" title="{% blocktrans with read_later=user.get_read_later_display %}Add to {{ read_later }}{% endblocktrans %}">
							<i class="icon-book"></i>
							<span class="legend">{% blocktrans with read_later=user.get_read_later_display %}Add to {{ read_later }}{% endblocktrans %}</span>
						</button>
					</form>
				{% endif %}
				{% if user.read_later == "wallabag" %}
					<a class="tultip" title="{% trans "Add to Wallabag" %}" href="{{ user.wallabag_url }}?action=add&url={{ object.base64_url }}&autoclose=true" target="_blank" data-mousetrap="i">
						<i class="icon-book"></i>
						<span class="legend">{% trans "Add to Wallabag" %}</span>
					</a>
				{% endif %}
				<form method="post" action="{% url "feeds:item" object.pk %}" id="unread" data-mousetrap="m">
					{% csrf_token %}
					<input type="hidden" name="action" value="unread">
					<button class="tultip" type="submit" title="{% trans "Unread" %}">
						<i class="icon-eye-open"></i>
						<span class="legend">{% trans "Unread" %}</span>
					</button>
				</form>
				<form method="post" action="{% url "feeds:item" object.pk %}" id="star" data-mousetrap="s">
					{% csrf_token %}
					{% if object.starred %}
						<input type="hidden" name="action" value="unstar">
						<button class="tultip" type="submit" title="{% trans "Unstar" %}">
							<i class="icon-star-empty"></i>
							<span class="legend">{% trans "Unstar" %}</span>
						</button>
					{% else %}
						<input type="hidden" name="action" value="star">
						<button class="tultip" type="submit" title="{% trans "Star" %}">
							<i class="icon-star"></i>
							<span class="legend">{% trans "Star" %}</span>
						</button>
					{% endif %}
				</form>
				{% if user.sharing_email %}
					<a class="tultip" data-mousetrap="e" title="{% trans "Email" %}" href="mailto:?subject={{ object.title }}&body={{ object.link }}"><i class="icon-envelope-alt"></i><span class="legend">{% trans "Email" %}</span></a>
				{% endif %}
				{% if user.sharing_twitter %}
					<a target="_blank" class="tultip" data-mousetrap="t" title="{% trans "Tweet" %}" href="https://twitter.com/home?status={{ object.tweet|urlencode }}"><i class="icon-twitter"></i><span class="legend">{% trans "Tweet" %}</span></a>
				{% endif %}
				{% if user.sharing_gplus %}
					<a target="_blank" class="tultip" data-mousetrap="+" title="{% trans "Share on Google+" %}" href="https://plus.google.com/share?url={{ object.link }}"><i class="icon-google-plus"></i><span class="legend">{% trans "Share on Google+" %}</span></a>
				{% endif %}
			</div>
		</div>
		{% if has_media and not user.allow_media %}
			<div class="externalmedia">
				<form method="post" action="{% url "feeds:item" object.pk %}" class="images" id="images">
					{% csrf_token %}
					<input type="hidden" name="action" value="images">
					{% if object.feed.media_safe %}
						{% trans "External media is always displayed for this feed." %}
						<input type="submit" value="{% trans "Disable external media" %}" name="never">
					{% else %}
						{% if media_safe %}
							{% trans "External media is only displayed this time." %}
							<input type="submit" value="{% trans "Always display external media for this feed" %}" name="always">
						{% else %}
							{% trans "External media is hidden by default to protect your privacy. Show media:" %}
							<input type="submit" value="{% trans "once" %}" name="once">
							<input type="submit" value="{% trans "always" %}" name="always">
						{% endif %}
					{% endif %}
				</form>
			</div>
		{% endif %}
		<div class="content">
			{% if media_safe or object.feed.media_safe or user.allow_media %}
				{{ object.sanitized_content|safe }}
			{% else %}
				{{ object.sanitized_nomedia_content|safe }}
			{% endif %}
		</div>
		<div class="row">
			{% include "feeds/entry_links.html" %}
		</div>
	</div>
	{% include "feeds/entry_navigation.html" with place="bottom" %}
{% endblock %}
